body {
  margin: 0;
  padding: 0;
  background: #3e3e3e;
  color: rgb(158, 177, 241);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  max-width: 600px;
}